:root {
  --primary-color: #ff2770;
  --secondary-color: hsl(38, 92%, 58%);
  --dark-bg: #111;
  --darker-bg: #000;
  --light-bg: #222;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--dark-bg);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}